#Folder Ignore
mods/
kubejs/
defaultconfigs/
config/
packmenu/
tmp/
libraries/
logs/
local/
#File Wildcard Ignore
neoforge*
server*
#Specific file Ignore
user_jvm_args.txt
startserver.bat
latest_version.md
run.bat
run.sh
eula.txt
